# Example config file for ds18b20
#VERBOSE	; make the program run verbosely
LOG		; write timestamp and temperature data to a log file
#RRD		; update an rrd file
#FOREGROUND	; run in forground (no daemonizing)
INTERVAL 300	; interval between runs
# Optional Aliases for probes.  Syntax:  ALIAS <probename> <friendly-name>
ALIAS 28-000005870f68 outside
ALIAS 28-000005875d6b waterintake
ALIAS 28-00000586062e inside
